[Desktop Entry]
Type=Application
Name=Marshal
Comment=Manage MCP servers
Exec=marshal
Icon=io.github._6E6B.marshal
Terminal=false
Categories=Development;GTK;
Keywords=MCP;servers;tools;
StartupNotify=true
StartupWMClass=io.github._6E6B.marshal
